<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <!-- CSS 파일 링크 등 필요한 스타일 시트 추가 -->
</head>
<body>
<h1>Login Page</h1>
<form action="/login" method="post">
    <div>
        <label for="username">Username:</label>
        <input id="username" name="username" required type="text">
    </div>
    <div>
        <label for="password">Password:</label>
        <input id="password" name="password" required type="password">
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>
<!-- 필요한 JavaScript 파일 링크 등 추가 -->
</body>
</html>