<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>save</title>
</head>
<body>

<form action="/post/save" method="post" enctype="multipart/form-data">
  writer: <input type="text" name="postWriter"> <br>
  pass: <input type="text" name="password"> <br>
  title: <input type="text" name="title"> <br>
  contents: <textarea name="contents" cols="30" rows="10"></textarea> <br>
  file: <input type="file" name="postFile"> <br>
  <input type="submit" value="글작성">
</form>
</body>
</html>